#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.local
manage_etc_hosts: true

users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: [sudo]
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_public_key}
  - name: brian
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: [sudo]
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_public_key}

%{ if host_private_key != "" ~}
ssh_keys:
  ed25519_private: |
    ${indent(4, host_private_key)}
  ed25519_public: ${host_public_key}
%{ endif ~}

bootcmd:
  - systemctl enable --now qemu-guest-agent || true

package_update: false
package_upgrade: false

packages:
  - curl
  - wget
  - qemu-guest-agent
  - htop
  - net-tools
  - apt-transport-https
  - ca-certificates

write_files:
  - path: /etc/modules-load.d/k8s.conf
    permissions: '0644'
    content: |
      overlay
      br_netfilter
  - path: /etc/sysctl.d/k8s.conf
    permissions: '0644'
    content: |
      net.bridge.bridge-nf-call-iptables  = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward                 = 1

runcmd:
  - systemctl enable --now qemu-guest-agent
  - modprobe overlay
  - modprobe br_netfilter
  - sysctl --system
  - swapoff -a
  - sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab
  - curl -sfL https://get.k3s.io | sh -
  - chmod 644 /etc/rancher/k3s/k3s.yaml
