#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.local
manage_etc_hosts: true

users:
  - name: brian
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, docker, libvirt
    home: /home/brian
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_public_key}

package_update: true
package_upgrade: true

packages:
  - curl
  - wget
  - git
  - jq
  - qemu-guest-agent
  - python3
  - python3-pip
  - python3-venv
  - apt-transport-https
  - ca-certificates

runcmd:
  - systemctl enable --now qemu-guest-agent
  - curl -sfL https://get.k3s.io | sh -
  - chmod 644 /etc/rancher/k3s/k3s.yaml
